.chooseFood {
    height:81%;
    width: 250px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #FFFAF0 ; 
    overflow-x: auto;
    padding-top: 20px;
    padding-left:30px;
    top:125px;
}

.foodListLabel{
	padding: 6px 8px 6px 16px;
	font-size :27px;
	color: #8B4513;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}


/* Style the chooseFood links and the dropdown button */
.dropButton {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.dropButton:hover {
    color: black;
}

/* Add an active class to the active dropdown button */
.active {
    color: black;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
	 display: none;
    padding-left: 8px;
   
}

.foodButtons{
	margin-left: 30px;
	color:green;
}

.radioLabel{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color:#8B8B00;
}


.main {
    margin-left: 300px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding-top:10px;
    height:80%;
    margin-top:120px;
    top:10px;
}

h1{
	 font-size: 36px;
	 margin-left : 40px;
	 margin-bottom:20px;
	 text-decoration : none;	 
	 color: #8B4513;
	 font-family: Arial, Helvetica, sans-serif;
	 
}

.belowmain{
	left: 500px;
	margin-top:0px;	
	margin-left: 300px;
}

.title{
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color:#8B8B00;
	
}
.foodInfo , .foodResult{
	border: 2px dotted #8B4513;
	padding:20px;
	margin:40px;
	margin-top:0px;	
	float:left;
	background-color: #FFFAF0 ; 
}



#theFood , #edibility{
	font-size: 22px;
    background-color: #8B8B00 ;
    width: 200px;
    border: 25px solid #8B8B00;
    padding: 25px;
    margin: 13px;
    text-align:center;
    color:#FFFAF0;
    	font-family: Arial, Helvetica, sans-serif;
    
}
.Info{
	margin-left: 406px;
	float:right;
	border:solid;
	position:relative;
	padding:40px;
	margin-right:40px;
	border: 2px dotted #8B4513;
	margin-bottom:40px;
	font-family: Arial, Helvetica, sans-serif;
	
}

.question{
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
}

.submit{
	padding: 10px 8px 10px 16px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    width:100%;
    text-align:center;
    background-color: #555555;  
}
